.pagecontainer{
  padding-top: 4%;
  padding-bottom: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carrecontainer{
  border-radius: 6px;
  background-color: rgb(0, 32, 96);
  box-shadow:20px 20px 50px grey; 

  max-width: 1000px;
  max-height: 700px;
  padding: 5%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
h3{
  color: rgb(0, 32, 96);
padding-left: 190px;

  
}
p a{color:#D7CEC7;}
.formItem{
  display: flex;
  flex-direction:column;
  margin: 15px;
}
label{
  color: #D7CEC7;
  margin-bottom: 5px;
}
input, select{
  width: 300px;
  height: 25px;
  border-radius: 5px;
}
.buttonsection{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.button{
  width: auto;
  padding: 0 25px 25px 25px;
  margin: 15px;
  border-radius: 15px;
}
.buttonText{
  text-decoration: none;
  color: #286DA8;
}
.twoinputs{
 display: flex;
}
