
<div class="container" style="width: 60%">
  <article class="card">
    <header class="card-header">Mes commandes</header>
    <select [(ngModel)]="filterCondition"
    aria-label=".form-select-lg example"
    (change)="filter()"
    class="filter">
      <option value="">no filter</option>
      <option value="date">date</option>
      <option value="order">order</option>
    </select>
    <select [(ngModel)]="statusToFind"
    aria-label=".form-select-lg example"
    (change)="filterStatus()"
    class="filter">
     <option value="">non status</option>
     <option value="envoyée">indetermine</option>
     <option value="en livraison">en livraison</option>
     <option value="livrée">livrée</option>
     <option value="payée">payée</option>
    </select>
    <select
    *ngIf="isAdmin"
    [(ngModel)]="fnxOrClient"
    aria-label=".form-select-lg example"
    (change)="fnxOrClientSearch()"
    class="filter">
    <option value="">no filter</option>
    <option value="customer">customer</option>
    <option value="admin">admin</option>
    </select>

    <div class="search">
      <input type="text" [(ngModel)]="searchedId" class="searchTerm" placeholder="order Id">
      <button (click)="search()" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     
   </div> 
   <p class="notFound" *ngIf="notFound==true">pas de solution</p>
    <div class="card-body" >
    
      <hr />
      <table class="blueTable" cdkDropListGroup>
        <thead>
        <tr>
        <th></th>
        <th>Changer</th>
        <th>En livraison</th>
        <th>Livrée</th>
        <th>Payée</th>
        <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let ord of orders;let index=index" >
        <tr >
        <td>{{ord.ord_id}}</td>
        <td *ngFor="let stat of ord.statusTable" >
          <ng-container>
          <div
         
          id="{{stat.status}},{{ord.ord_id}}"
          cdkDropList
          [cdkDropListData]="stat.info"
          (cdkDropListDropped)="drop($event,ord.ord_id)">
          <div cdkDrag *ngFor="let i of stat.info" >
            <i *ngIf="i==0" class="material-icons grab">done_outline</i>
            <p class="hide">{{i}}</p>
          </div>
        </div>
        </ng-container>
      </td>
        <td> <a class="d-flex justify-content-end" (click)="open(ord.ord_id)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-caret-down"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
            />
          </svg>
        </a></td>
        </tr>
        <tr>
          <div *ngIf="ord.isOpen">
              <thead>
              <tr>
              <th>Num_Cmd</th>
              <th>Num_SousCmd</th>
              <th>Item</th>
              <th>Quantité</th>
              <th >Statut par cmd</th>
              <th>Statut par Sous_Cmd</th>
              <th>Statut par Item</th>
              <th>Date Livraison estimé</th>
              <th>Date Livraison Réelle</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ord.ord_id}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><select
                    (change)="changeOnSelectOrd(ord.ord_id)"
                    [(ngModel)]="ord.status"
                    aria-label=".form-select-lg example"
                    id="A{{ ord.ord_id }}"
                  >
                  <option value="envoyée" *ngIf="!ord.isPayed">
                    Changer l'état de la commande
                  </option>
                    <option selected class="d-flex  text-center" value="payée" *ngIf="ord.isPayed">
                      <p  >
                      le produit est livré et payé
                    </p>
                    </option>
                    <option
                      value="en livraison"
                      *ngIf="!ord.isPayed"
                    >
                      en livraison
                    </option>
                    <option
                      value="livrée"
                      *ngIf="!ord.isPayed"
                    >
                      livrée
                    </option>
                    <option value="payée" *ngIf="!ord.isPayed">
                      payée
                    </option>
                  </select></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <tr *ngFor="let prod of ord.prods;let first=first">
              <td></td>
              <td><p *ngIf="first">null</p></td>
              <td>{{prod.Prod_Name}}</td>
              <td>{{prod.Qte}}</td>
              <td></td>
              <td><p *ngIf="first">null</p></td>
              <td><select
                (change)="refrechStatus()"
                [(ngModel)]="prod.status"
                aria-label=".form-select-lg example"
                id="C{{ prod.Prod_Id }}"
              >
              <option value="envoyée" *ngIf="!prod.isPayed">
                Changer l'état de la commande
              </option>
                <option selected class="d-flex  text-center" value="payée" *ngIf="prod.isPayed">
                  <p  >
                  le produit est livré et payé
                </p>
                </option>
                <option
                  value="en livraison"
                  *ngIf="!prod.isPayed"
                >
                  en livraison
                </option>
                <option
                  value="livrée"
                  *ngIf="!prod.isPayed"
                >
                  livrée
                </option>
                <option value="payée" *ngIf="!prod.isPayed">
                  payée
                </option>
              </select></td>
              <td><input  type="date" [(ngModel)]="prod.expected_delivery_date"></td>
              <td><input  type="date"></td>
              </tr>
              </tbody>
              <tbody *ngFor="let sousOrd of ord.sousOrders">
                <tr *ngFor="let prod of sousOrd.prods;let first=first">
                  <td></td>
                  <td><p *ngIf="first">{{sousOrd.SousOrd_Id}}</p></td>
                  <td>{{prod.Prod_Name}}</td>
                  <td>{{prod.Qte}}</td>
                  <td></td>
                  <td><select
                    *ngIf="first"
                    (change)="changeOnSelectSousOrd(ord.ord_id,sousOrd.SousOrd_Id)"
                    [(ngModel)]="sousOrd.SousOrd_status"
                    aria-label=".form-select-lg example"
                    id="B{{ sousOrd.SousOrd_Id }}"
                  >
                  <option value="envoyée" *ngIf="!sousOrd.isPayed">
                    Changer l'état de la commande
                  </option>
                    <option selected class="d-flex  text-center" value="payée" *ngIf="sousOrd.isPayed">
                      <p  >
                      le produit est livré et payé
                    </p>
                    </option>
                    <option
                      value="en livraison"
                      *ngIf="!sousOrd.isPayed"
                    >
                      en livraison
                    </option>
                    <option
                      value="livrée"
                      *ngIf="!sousOrd.isPayed"
                    >
                      livrée
                    </option>
                    <option value="payée" *ngIf="!sousOrd.isPayed">
                      payée
                    </option>
                  </select></td>
                  <td><select
                    (change)="refrechStatus()"
                    [(ngModel)]="prod.status"
                    aria-label=".form-select-lg example"
                    id="C{{ prod.Prod_Id }}"
                  >
                  <option value="envoyée" *ngIf="!prod.isPayed">
                    Changer l'état de la commande
                  </option>
                    <option selected class="d-flex  text-center" value="payée" *ngIf="prod.isPayed">
                      <p  >
                      le produit est livré et payé
                    </p>
                    </option>
                    <option
                      value="en livraison"
                      *ngIf="!prod.isPayed"
                    >
                      en livraison
                    </option>
                    <option
                      value="livrée"
                      *ngIf="!prod.isPayed"
                    >
                      livrée
                    </option>
                    <option value="payée" *ngIf="!prod.isPayed">
                      payée
                    </option>
                  </select></td>
                  <td><input *ngIf="first" type="date" [(ngModel)]="sousOrd.expected_delivery_date"></td>
                  <td><input *ngIf="first" type="date" [(ngModel)]="sousOrd.real_delivery_date"></td>
                </tr>
                </tbody>
            </div>
        </tr>
        </tbody>
        </table>
     
        
    
      
      <hr />
    </div>
  </article>
  <div class="d-flex justify-content-end">
    <button href="#" class="btn btn-warning mt-3" (click)="valide()">
      <i class="fa fa-chevron-right"></i> Valider
    </button>
  </div>
</div>
 