.allcontainer {
  font-family: "Lato", sans-serif;

  width: 100%;
 
  display: flex;
}
.main {
  margin: 10%; /* Same as the width of the sidenav */
  
}
.card1 {
 border: 1px ridge;
 
 height: 300px;
 width: 1000px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
 
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  padding: 15px;
 
}
.image{
  display: block;
  width: calc(.25 * (150vw - 28px));
  min-width: 249px;
  max-width: 530px;
  
}
.info{
  display: block;
  margin-left: -250px;
  margin-top: 15px;
}
.info h4:hover{
  color: rgb(171, 13, 13);
}
.card2 {
  border: 1px ridge;
  
  height: 300px;
  width: 1000px;
  
  display: flex;
align-items: center;
justify-content: center;
  
   padding: 20px;
  
 }