<div class="allcontainer ">

  <app-sidebar></app-sidebar>


  <div class="main" >
    <div class="allcard">
      <div class="card" *ngFor="let l of products">
          <img  src="../../assets/photos/{{l.Prod_Img}}" style="width:70%;cursor:pointer;" class="cardimg justify-content-center m-auto" (click)="details(l.Prod_Id)">
          <div class="cardp">
          <p class="price">{{l.Prod_Price}} $</p>
        </div>
        <h5>{{ l.Prod_Name }}</h5>
        
        
        <p><button class="btn btn-outline-secondary"  (click)="Add_Order(l.Prod_Id) " *ngIf="!isFnx" >Ajouter au panier</button></p>

      </div>
      <div class="card" *ngIf="isAdmin"><img src="../../assets/plusicon.png" style="width: 50%;"  class="cardimg justify-content-center m-auto" (click)="addProduct()"></div>
      
    </div>
  </div>
</div>
